{% extends 'new_base.html' %}

{% block content %}

<div class = "row">
  <div class = "col-xs-12 col-md-12 col-sm-12 col-lg-12">
    <section class = "panel">
      <div class = "panel-body">
        <h1 style = "text-align: center;">The Mission</h1>
      </div>
    </section>
  </div>
</div>

<div class = "row">
  <div class = "col-xs-12 col-md-12 col-sm-12 col-lg-12">
    <section class = "panel">
      <div class = "panel-body">
        <div class = "col-xs-12 col-md-6 col-sm-12 col-lg-6 col-md-offset-3 col-lg-offset-3 col-md-offset-3">
          <p class="lead" style = "text-align:justify;">Policy Debate was one of the most inspiring, motivating, and influential activities that we participated in during our high school years. We are giving back to the community by changing the way that debaters and alumni track and view results, live or otherwise. We hope to increase accessibility to information and provide teams with a platform to showcase their accomplishments.</p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class = "row">
  <div class = "col-xs-12 col-md-12 col-sm-12 col-lg-12">
  	<section class = "panel">
  	  <div class = "panel-body">
  	  	<h1 style = "text-align: center;">The Crew</h1>
  	  </div>
  	</section>
  </div>
</div>

<div class = "row">
  <div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
  	<section class = "panel">
  	  <div class = "panel-body">
  	  	<img src="http://puu.sh/avdQF/c23384c337.png" alt="gary" class = "img-responsive img-rounded" style="width:100%">
  	  	<h1>Gary Lin</h1>
  	  	<span class = "text-muted">Founder & CEO</span>
  	  	<span class = "pull-right text-muted">gary@kritikalstats.com</span>
  	  </div>
  	</section>
  </div>
  <div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
  	<section class = "panel">
  	  <div class = "panel-body">
  	  	<img src="http://puu.sh/avdU3/b141d3d2b0.png" alt="rohan" class = "img-responsive img-rounded" style = "width:100%">
  	  	<h1>Rohan Varma</h1>
  	  	<span class = "text-muted">Founder & CTO</span>
  	  	<span class = "pull-right text-muted">rohan@kritikalstats.com</span>
  	  </div>
  	</section>
  </div>
  <div class = "col-xs-12 col-sm-12 col-md-4 col-lg-4">
  	<section class = "panel">
  	  <div class = "panel-body">
  	  	<img src="http://puu.sh/avdXD/8e671e7ec0.jpg" alt="sunny" class = "img-responsive img-rounded" style = "width: 100%">
  	  	<h1>Sunny Advani</h1>
  	  	<span class = "text-muted">Third Person to Join</span>
  	  	<span class = "pull-right text-muted">sunny@kritikalstats.com</span>
  	  </div>
  	</section>
  </div>
</div>
{% endblock %}