{% extends 'real_base.html' %}

{% block content %}

<div class= "" id="container-admin">
  <h1 class="page-header">admin</h1>
  <!-- <h4> secret shit </h4> -->
  <div id="table-admin-Main" class="entry_table">
    <div class="section group standardeven ">
      <!--give each team a unique ID and then search for that ID to append stuff to it -->]
      <div class="col teamName">Jeffers &amp; Anderson</div>
      <div class = "col record" id = 'testingnow'> 5-0 </div>
      <div class = "col round7 win" id= 'fs' > hihi</div>
    </div>
  </div>

</div>

{% endblock %}