<!DOCTYPE html>
<html lang="en">
<html class="no-js">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>CrossX Ups</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script type="text/javascript" src = "{% static 'js/homepage.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300,900' rel='stylesheet' type='text/css'>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/jasny-bootstrap.css' %}" rel="stylesheet">
    <link href= "{% static 'css/main.css' %}" rel="stylesheet">
    <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand click" id= "home-main" href="#home">RetailNext Data Tool</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="click" id= "home-top" href="#home">Home</a></li>
            <li><a class="click" id="explanation-top" href="#explanation">Explanation</a></li>
            <li><a class="click" id="about" href="#about">About</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active" id="active-home"><a class= "click" id= "home-side" href="#home">Home</a></li>
            <!--<li class="" id="active-explanation"><a class="click" id= "explanation-side" href="#explanation">Explanation</a></li> -->
          </ul>
          <ul class="nav nav-sidebar">
            <li class="" id="active-CNDI"><a class="click" id= "CNDI" href="#CNDI">CNDI Camp Tourney</a></li> 
            <li class="" id="active-overwrite"><a class="click" id= "overwrite" href="#overwrite">DDI Camp Tourney</a></li>
            <li class="" id="active-overwrite"><a class="click" id= "overwrite" href="#overwrite">Michigan Camp Tourney</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="" id="active-hi"><a class="click" id= "hi" href="#hi">hi</a></li>
            <li class="" id="active-hello"><a class="click" id="hello" href="#hello">hello</a></li>
          </ul>
        </div>
        




        <!-- All containers will be placed within this bin.
             This bin correctly formats the page.  -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          

          <!--This is where all the containers are made -->

          <div class="container-home" id="container-home">
            <h1 class="page-header">Overview</h1>

            <div class="row placeholders">
              <div class="col-xs-6 col-sm-3 placeholder">
                <img class="circle" height= "200" width="200" src="http://retailnext.net/wp-content/themes/retailnext/images/steps-collection.png">
                <h4>Collect</h4>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <img class="circle" height= "200" width="200" src="http://retailnext.net/wp-content/themes/retailnext/images/steps-analysis.png">
                <h4>Analyze</h4>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <img class="circle" height= "200" width="200" src="http://retailnext.net/wp-content/themes/retailnext/images/steps-visualization.png">
                <h4>Visualize</h4>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <img class="circle" height= "200" width="200" src="http://retailnext.net/wp-content/themes/retailnext/images/steps-insights.png">
                <h4>Discover</h4>
              </div>
            </div>
          </div>


          <div class="container-CNDI" id="container-CNDI">
            <h1 class="page-header">CNDI</h1>
            
            <div class="file-input">
              <div class="row">
                <div class= "col-lg-6"> 
                  <form id="form" role="form" action="#" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label>Input File: </label>
                        <div class="input-group">
                          <input id="filePath" type="text" class="form-control" />
                          <span class="input-group-btn">
                            <button id="btnBrowse" class="btn btn-default" type="button">Browse...</button>
                          </span>
                        </div>

                        <div class="button-group">
                          <button id="btnUpload" class="btn btn-default" type="button">Upload!</button>
                        </div>
                        <input id="inputFile" type="file" name="file" />
                    </div>
                  </form>
                </div>
              </div>
            </div>  
          </div>

          <div class= "container-explanation" id="container-explanation">
            <h1 class="page-header">Explanation</h1>
          </div>

          <div class= "container-about" id="container-about">
            <h1 class="page-header">About</h1>
          </div>

          <div class= "container-overwrite" id="container-overwrite">
            <h1 class="page-header">Overwrite</h1>
          </div>

          <div class= "container-hi" id="container-hi">
            <h1 class="page-header">Hi</h1> 
          </div>

          <div class= "container-hello" id="container-hello">
            <h1 class="page-header">Hello</h1>
          </div>


        </div>
      </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/docs.min.js' %}"></script>
<script src="{% static 'js/vendor/jasny-bootstrap.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>


</html>