{% extends 'tournament_base.html' %}
{% load staticfiles %}


{% block content %}
{% load staticfiles %}

<div id="container-{{ tournament }}-Bracket" class = "bracket panel">
	<div class= "panel-heading">
	  <h2>Bracket</h2>
	</div>
	<div class = "panel-body bracket_box"> 
		<div class = "col"> 
		</div> 
		<div class = "col"> 
		</div> 
		<div class = "col"> 
		</div> 
		<div class = "col"> 
		</div> 
		<div class = "col"> 
		</div> 
		<div class = "col"> 
		</div> 
	</div>
</div>

<script src="{% static 'js/bracketview.js' %}"></script>
<script src="{% static 'js/tournament_page.js' %}"></script>

{% endblock %}

{% block javascript %}

<script src="{% static 'js/tournament_page.js' %}"></script>
{% endblock %}
