{% extends "admin_base.html" %}

{% block content %}
{% load staticfiles %}
<script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
<div class='create-round-type' data-round-type = "{{ round_type }}"></div>

<div class="row">
  <div class = "col-md-12 col-xs-12">
    <div class = "panel">
      <div class = "panel-heading">
        {% if round_type == 'prelim' %}
        <h1>Create Prelim Round</h1>
        {% else %}
        <h1>Create Elim Round</h1>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class= "col-lg-12 col-sm-12 col-xs-12 col-md-12">
  <section class="panel">
    <div class="panel-body">
      <div class="position-center">
        <div id="tournament-form">

          <div class= "form-group">
            <label class = "col-lg-3 col-sm-2 hidden-xs admin-form-label">Tournament</label>
            <label class = "hidden-lg hidden-sm hidden-md admin-form-label-xs col-xs-12">Tournament</label>
            <div class="col-lg-9">
              <input type="text" id = "input_tname" class="kritstats-form-input form-control" value = "{{tournament}}"name = "tname" placeholder="Ex: Wake, Berkeley, Stanford, GBN, etc." readonly>
              <p></p>
            </div>
          </div>
          <div class= "form-group">
            <label class = "col-lg-3 col-sm-2 hidden-xs admin-form-label">Round URL</label>
            <label class = "hidden-lg hidden-sm hidden-md admin-form-label-xs col-xs-12">Round URL</label>
            <div class="col-lg-9">
              <input type="text" id = "input_url" class="kritstats-form-input form-control" name = "round_url" placeholder="Provide a link to Tabroom for the pairing">
              <p></p>
            </div>
          </div>
          <div class= "form-group">
            <label class = "col-lg-3 col-sm-2 hidden-xs admin-form-label">Round Number</label>
            <label class = "hidden-lg hidden-sm hidden-md admin-form-label-xs col-xs-12">Round Number</label>
            <div class="col-lg-9">
              <input type="text" id = "input_round_num" class="kritstats-form-input form-control" name = "round_num" placeholder="Ex: 1, 2, 3, 4..">
              <p></p>
            </div>
          </div>
          <div class ="form-group">
            <div class="col-lg-offset-4 col-lg-8 col-xs-offset-2 col-xs-8">
              <button class="btn btn-danger createround-submit">Submit!</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

<div class= "col-lg-12 col-sm-12 col-xs-12 col-md-12 choosecol-row" style="display: none">
  <div class = "choosecol-status" data-status = "nodata">
  <section class="panel">
    <div class="panel-heading">
      {% if round_type == 'prelim' %}
        <h3 class = "choosecol-msg">Click on the column with the Aff team!</h3>
      {% else %}
        <h3 class = "choosecol-msg">Click on the column with the first team!</h3>
      {% endif %}
    </div>
    <div class="panel-body">
        <table class = "table general-table choosecol-table" data-cur-selection="teama">
          <thead>
            <tr class = "choosecol-th">
            </tr>
          </thead>
          <tbody>
            <tr class = "choosecol-body">
            </tr>
            <div class = "choosecol-store" data-teama ="" data-teamb = "" data-judge = ""></div>
          </tbody>
        </table>
        <div class="position-center">
          <div class="col-lg-offset-4 col-lg-8 col-xs-offset-2 col-xs-8">
              <button class="btn btn-danger choosecol-submit">Submit!</button>
          </div>
        </div>
    </div>
  </section>
</div>

<script src="{% static 'js/create_round.js' %}"></script>
{% endblock %}