{% extends 'tournament_base.html' %}

{% block content %}
{% load staticfiles %}
<div class = "row">
  <div class = "col-sm-12 col-xs-12">
    <section class = "panel">
      <div class = "panel-body">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>{{ tournament }} Dashboard</h1>
        </div>
      </div>
    </section>
  </div>
</div>

<div class = "row">
  <div class= "col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div class= "profile-nav alt">
      <section class= "panel text-center">
        <div class= "user-heading alt wdgt-row terques-bg">
          <i class="fa fa-calendar">
          </i>
        </div>
        <div class= "panel-body">
          <div class= "wdgt-value">
            <div class= "hidden-xs">
              <h1 class="count" id="dashboard-reg-date"></h1> 
            </div>
            <div class = "hidden-sm hidden-md hidden-lg">
              <h1 class="count" id="dashboard-xs-date"></h1>
            </div>
            <p>Dates</p>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class= "col-lg-4 col-md-4 col-sm-4 col-xs-12 center-block">
    <div class= "profile-nav alt">
      <section class= "panel text-center">
        <div class= "user-heading alt wdgt-row red-bg">
          <i class="fa fa-users">
          </i>
        </div>
        <div class= "panel-body">
          <div class= "wdgt-value">
            <h1 class="count" id="dashboard-teams-entered"></h1>
            <p>Teams Entered</p>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class= "col-lg-4 col-md-4 col-sm-4 col-xs-12 center-block">
    <div class= "profile-nav alt">
      <section class= "panel text-center">
        <div class= "user-heading alt wdgt-row yellow-bg">
          <i class="fa fa-trophy">
          </i>
        </div>
        <div class= "panel-body">
          <div class= "wdgt-value">
            <h1 class="count" id="dashboard-bid-level"></h1>
            <p>Bid Level</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class = "row">
  <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-6">
    <section class= "panel">
      <header class= "panel-heading">
        Bidded Teams
      </header>
      <div class="panel-body" style= "overflow: scroll">
        <ul class="to-do-list ui-sortable" id="dashboard-bidded-teams-scroll" style="overflow:scroll; width:auto; height:150px;">
          
        </ul>
      </div>
    </section>
  </div>

  <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-6">
    <section class= "panel">
      <header class= "panel-heading">
        Schools Attending
      </header>
      <div class="panel-body" style= "overflow: scroll">
        <ul class="to-do-list ui-sortable" id="dashboard-schools-attending-scroll" style="overflow:scroll; width:auto; height:150px;">

        </ul>
      </div>
    </section>
  </div>
</div>

<div class = "row">
  <!-- <div class= "col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class= "profile-nav alt">
      <section class= "panel text-center">
        <div class= "user-heading alt wdgt-row blue-bg">
          <div class = "hidden-xs">
            <i class="fa fa-long-arrow-right">
            </i>
          </div>
          <div class = "hidden-lg hidden-md hidden-sm">
            <i class="fa fa-long-arrow-down">
            </i>
          </div>
        </div>
        <div class= "panel-body">
          <div class= "wdgt-value">
            <div class= "hidden-xs">
              <h1 style = "font-size: x-large;" class="count" id="dashboard-reg-admin-arrow">Gchat/Email us!</h1> 
            </div>
            <div class = "hidden-sm hidden-md hidden-lg">
              <h1 class="count" id="dashboard-xs-admin-">Gchat/Email us!</h1>
            </div>
            <p></p>
          </div>
        </div>
      </section>
    </div>
  </div> -->
  <div class= "col-lg-6 col-md-12 col-sm-12 col-xs-12 col-lg-offset-3">
    <div class= "profile-nav alt">
      <section class= "panel text-center">
        <div class= "user-heading alt wdgt-row blue-bg">
          <i class="fa fa-comments-o">
          </i>
        </div>
        <div class= "panel-body">
          <div class= "wdgt-value">
            <div class= "hidden-xs">
              <h1 class="count" id="dashboard-reg-admin"></h1> 
            </div>
            <div class = "hidden-sm hidden-md hidden-lg">
              <h1 class="count" id="dashboard-xs-admin"></h1>
            </div>
            <p>Administrators</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/tournament_page.js' %}"></script>
{% endblock %}

{% block javascript %}

{% endblock %}
