{% extends 'tournament_base.html' %}

{% block search_box %}

<div id = "elims-search" class = "col-xs-12 col-md-4 col-lg-4 col-sm-12 pull-right"> 
  <input type = "text" class = "entry_search_bar tourn-search-bar" placeholder="Search for a Elim Round">
    <i class = "fa fa-search tourn-search-icon"></i>
  </input > 
</div> 

{% endblock %}

{% block tourney_content %}
{% load staticfiles %}

<div class = "row">
  <div class = "col-sm-12 col-xs-12 col-md-12 col-lg-12">
  	<section class = "panel" id = "elims_panel">
  	  <header class = "panel-heading"> 
  	  	<ul class = "nav nav-tabs nav-justified tournament_nav">
  	  	</ul>
  	  </header>
  	</section>
  </div>
</div>

<div class = "elims_hidden" data-tournament = "{{tournament}}"></div>

<script src="{% static 'js/elims.js' %}"></script>
<script src="{% static 'js/tournament_page.js' %}"></script>

{% endblock %}


{% block javascript %}

{% endblock %}