{% extends 'tournament_base.html' %}

{% block tourney_content %}
{% load staticfiles %}

<div class = "row">
  <div class = "col-sm-12 col-xs-12">
  	<section class = "panel">
  	  <div class = "panel-body">
  	  	<div class = "col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-left">
          <h1>{{ tournament }} Entries</h1>
        </div>
        <div id = "entries-search" class = "col-xs-12 col-md-5 col-lg-4 col-sm-6 pull-right"> 
          <input type = "text" class = "entry_search_bar" placeholder="Search for a Team">
            <i class = "fa fa-search search-icon"></i>
          </input > 
        </div> 
  	  </div>
  	</section>
  </div>
</div>

<div class = "row">
  <div class = "col-sm-12 col-xs-12">
  	<section class = "panel">
  	  <div class = "panel-body" style="height:70%; overflow: scroll;">
  	  	<table class = "table  table-hover general-table">
  	  	  <thead>
  	  	  	<tr>
  	  	  	  <th data-type = "team_code" class = "sortable-table-header entries-header unsorted">Team Code</th>
  	  	  	  <th data-type = "team_name" class = "sortable-table-header entries-header unsorted hidden-sm hidden-xs">Team Names</th>
  	  	  	  <th data-type = "win_percent" class = "sortable-table-header entries-header unsorted" >Win %</th>
  	  	  	  <th data-type = "bids" class = "sortable-table-header entries-header unsorted">Bids</th>
  	  	  	</tr>
  	  	  </thead>
  	  	  <tbody class = "entries_table" id = "entry-table">
  	  	  </tbody>
  	  	</table>
  	  </div>
  	</section>
  </div>
</div>

<div class = "fake_entries"></div>

<div class = "entries_hidden" data-tournament = "{{tournament}}"></div>

<script src="{% static 'js/entries.js' %}"></script>
<script src="{% static 'js/tournament_page.js' %}"></script>

{% endblock %}


{% block javascript %}

{% endblock %}