{% extends 'new_base.html' %}

{% load staticfiles %}

{% block content %}

<div class = "row">
  <div class = "col-xs-12 col-md-12 col-sm-12 col-lg-12">
    <section class = "panel">
      <div class = "panel-body">
        <h1 style = "text-align: center;">Feedback</h1>
      </div>
    </section>
  </div>
</div>

<div class = "row">
  <div class = "col-xs-12 col-md-12 col-sm-12 col-lg-12">
    <section class = "panel">
      <div class = "panel-body">
        <div class = "form-title-format">
          Want to give us feedback?
        </div>
        <div class = "form-title-format">
          Send an email to gary@kritikalstats.com!
        </div>
      </div>
    </section>
  </div>
</div>

<div class = "row">
  <div class = "col-xs-12 col-md-12 col-sm-12 col-lg-12">
    <section class = "panel">
      <div class = "panel-body">
        <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3">
          <div class = "reviews">
            <div class = "review-title">
              <img class= "stars-avatar" src="{% static 'images/5stars.png' %}">
              <span class = "review-title-text">
                Woah
              </span>
              <span class = "review-title-date">
                (Sept. 1, 2014)
              </span>
            </div>
            <div class = "review-name">
              <span>
                By:
              </span>
              <span class = "review-name-text">
                Gene Chien (Leland High School, '02)
              </span>
            </div>
            <div class= "review-message">
              Yo, great job you all.  Really wish I had something like this when I debated back in the day.
            </div>
          </div>

          <div class = "reviews">
            <div class = "review-title">
              <img class= "stars-avatar" src="{% static 'images/4stars.png' %}">
              <span class = "review-title-text">
                Thanks!
              </span>
              <span class = "review-title-date">
                (Dec. 1, 2014)
              </span>
            </div>
            <div class = "review-name">
              <span>
                By:
              </span>
              <span class = "review-name-text">
                Varun Joshi (Leland High School, '15)
              </span>
            </div>
            <div class= "review-message">
              Thanks so much for building this.  I love having this new easy way to follow aggregated results.
            </div>
          </div>


<!-- stars, name, high school, message, important [pins messages] -->

        </div>
      </div>
    </section>
  </div>
</div>


{% endblock %}