{% extends "new_base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
  <div class = "col-md-12">
  	<div class = "panel">
  	  <div class = "panel-heading">
  	  	<h1>Tournaments</h1>
        <h4 class = "text-muted">currently happening across the nation</h4>
  	  </div>
  	  <div class = "panel-body">
        <div class = "col-md-10">
          <div class="container-home" id="container-home">
            <div id = "maps-canvas" style = "height:65%; width:100%;"></div> 
          </div>
        </div>
        <div class = "col-md-2">
          <div id = "all-tournaments" style = "height:65%;"></div> 
        </div>
      </div>
    </div>
  </div>
</div>

  <script src = "https://maps.googleapis.com/maps/api/js?v=3.exp"> 
  </script> 
  <script src ="{% static 'js/homepgmap.js' %}">
  </script>


{% endblock %}
