{% extends 'tournament_base.html' %}

{% block content %}

<div class = "row">
  <div class = "col-sm-12 col-xs-12">
  	<section class = "panel">
  	  <div class = "panel-body">
        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>{{ tournament }} Prelims</h1>
          <div id = "prelims-search" class = "col-xs-12 col-md-5 col-lg-4 col-sm-6 pull-right"> 
            <input type = "text" id = "prelims-search-box"> </input > 
            <input type = "button" id = "submit-prelims-search" value = "Search"> </input> 
          </div>
      </div>
  	</section>
  </div>
</div>

<div class = "row">
  <div class = "col-sm-12 col-xs-12">
  	<section class = "panel">
  	  <div class = "panel-body" style="height:70%; overflow: scroll;">
  	  	<section id = "flip-scroll">
  	  	<table class = "table table-bordered table-condensed cf" id = "prelims-table">
          <thead class = "cf">
  	  	  	<tr class = "main_table_header">
  	  	  	  <th data-type = "team_code" class = "sortable-table-header main-header unsorted">Team Code</th>
  	  	  	  <th data-type = "wl" class = "sortable-table-header main-header unsorted" style="white-space: nowrap;">W - L</th>
  	  	  	</tr>
  	  	  </thead>
  	  	  <tbody class = "main_page_table">
  	  	  </tbody>
  	  	</table>
  	  </section>
  	  </div>
  	</section>
  </div>
</div>


<div id="tournament_hidden" data-tournament = "{{tournament}}"></div>

{% load staticfiles %}
<script src="{% static 'js/main_page.js' %}"></script>
<script src="{% static 'js/tournament_page.js' %}"></script>

{% endblock %}