{% extends "admin_base.html" %}

{% block content %}
{% load staticfiles %}

<div class= "col-lg-12 col-sm-12 col-xs-12 col-md-12" style="padding-left:0; padding-right:0;">
  <section class="panel">
    <div class="panel-heading">
      <h2>Modify {{tournament}} Dashboard</h2>
    </div>
    <div class="panel-body">
      <div class="position-center">
        <form id="tournament-form" class= "form" method="POST" action ="/1/update/tournament_data">
          {% csrf_token %}

          <div class="form-group">
            <label class= "col-lg-12 col-sm-12 col-md-12 admin-form-label-modify">Date</label>
            <div class="col-lg-12 col-sm-12 col-md-12"> 
              <input contenteditable="true" class="form-control cke_editable cke_editable_incline cke_contents_ltr" tableindex="0" spellcheck="true" style="position:relative;" role="textbox" title="Rich Text Editor, editor1" aria-describedby="cke_53" id ="modify-dashboard-date" name = "date">
              </input>
            </div>
          </div>

          <div class="form-group">
            <label class= "col-lg-12 col-sm-12 col-md-12 admin-form-label-modify">Location</label>
            <div class="col-lg-12 col-sm-12 col-md-12"> 
              <input contenteditable="true" class="form-control cke_editable cke_editable_incline cke_contents_ltr" tableindex="0" spellcheck="true" style="position:relative;" role="textbox" title="Rich Text Editor, editor1" aria-describedby="cke_53" id = "modify-location" name = "location">
              </input>
            </div>
          </div>

          <div class="form-group">
            <label class= "col-lg-12 col-sm-12 col-md-12 admin-form-label-modify">Number of Teams that Bid (Ex: 16, 8, 4..)</label>
            <div class="col-lg-12 col-sm-12 col-md-12"> 
              <input contenteditable="true" class="form-control cke_editable cke_editable_incline cke_contents_ltr" tableindex="0" spellcheck="true" style="position:relative;" role="textbox" title="Rich Text Editor, editor1" aria-describedby="cke_53" id ="modify-dashboard-bid" name = "bid_level">
              </input>
              <p></p>
            </div>
          </div>

          <div class ="form-group">
            <div class="col-lg-offset-4 col-lg-8 col-xs-offset-2 col-xs-8">
          <input type="hidden" name = "tourn_name" id="tourn-name"></input>
              <button type="submit" class="btn btn-danger">Modify!</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </section>
</div>

<div class="row">
  <div class = "col-md-12 col-xs-12">
    <div class = "panel">
      <div class = "panel-heading">
        <h2>Create a Round</h2>
      </div>
      <div class = "panel-body">
        <a href="/admin/{{tournament}}/createround"><div class = "createround-btn col-md-6" style = "text-align: center;">Create a Prelim</div></a>
        <a href="/admin/{{tournament}}/createelimround"><div class = "createround-btn col-md-6" style = "text-align: center;">Create an Elim</div></a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class = "col-md-12 col-xs-12">
    <div class = "panel">
      <div class = "panel-heading">
        <h2>Enter {{tournament}} Results</h2>
      </div>
      <div class = "panel-body rounds-buttons-panel">
        <h3 style = "text-align: center;">Prelims</h3>
        <table class = "table table-hover general-table">
          <thead>
            <tr>
              <th>Round Number</th>
              <th>Rounds Left</th>
            </tr>
          </thead>
          <tbody class = "round-enter-table">
          </tbody>
        </table>
        <h3 class = "elim-title" style = "text-align: center;">Elims</h3>
        <table class = "table table-hover general-table elim-table">
          <thead>
            <tr>
              <th>Round Number</th>
              <th>Rounds Left</th>
            </tr>
          </thead>
          <tbody class = "elim-round-enter-table">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script src="{% static 'js/modify_dashboard.js' %}"></script>

{% endblock %}