<!DOCTYPE html>
<html lang="en">
<html class="no-js">
<head>
  {% load staticfiles %}
  <script src="{% static 'js/constants.js' %}"></script>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>K-Stats</title>
    <!-- fix this, logo on tab
    <link rel="shortcut icon" href="{% static 'images/crown.png' %}">
    -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300,900' rel='stylesheet' type='text/css'>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/tourney_dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/loading_spinner.css' %}" rel="stylesheet">
    <link href= "{% static 'css/main.css' %}" rel="stylesheet">
    <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/fuse.js' %}"></script>

</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button type = "button" id = "toggle-icon" class = "pull-left visible-xs-block visible-sm-block glyphicon glyphicon-align-justify sidebar-toggle">
          </button>
          <a class="" id= "main-home" href="/home">
            <img class = "logo" src= "{% static 'images/logo.png' %}">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="click" id="about" href="/about">About</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active" id="active-home"><a class= "click" id= "side-home" href="/home">Home</a></li>
          </ul>


<!-- SIDE MENU BAR -->

          <ul class="nav nav-sidebar" id= "sidebar-populate">
          </ul>
          
          <ul class="nav nav-sidebar">
            <li class="admin" id="active-admin"><a class="click" id= "admin" href="/admin">admin</a></li> 
            <li class="admin" id="active-addTournament"><a class="subsidebar" id="AddTournament" href="/createtournament">Add Tournament</a></li>
            <li class="admin" id="active-addTournament"><a class="subsidebar" id="AddTournament" href="/createround">Add Pairings</a></li>
          </ul>
        </div>
        




<!-- All containers will be placed within this bin.
     This bin correctly formats the page.  -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id= 'container-master'>
          

<!--THIS IS WHERE THE CONTAINERS ARE MADE -->
        

          {% block content %}
          {% endblock %}

        </div>
      </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.js' %}"></script>
<script src="{% static 'js/vendor/docs.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/team.js' %}"></script>
<script src="{% static 'js/round.js' %}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53248709-1', 'auto');
  ga('send', 'pageview');

</script>

{% block javascript %}
{% endblock %}
<!-- testing-->
</body>


</html>