{% extends 'real_base.html' %}

{% block content %}

<div class="round_page" data-teamid="{{ round_id }}">
  <div class = "page_header">
  	<div class = "page_title">Round</div>
  </div>
  <div class = "form_after_header_seperator">
</div>
<div class = "form_after_header_grey">
</div>
  <div class = "sub_header">
  	<div class = "sub_header_text">Judge:</div>
  </div>
  <div class = "half_full_page">

  </div>
  <div class = "round_half_divider" style = "float: left;">

  </div>
  <div class = "half_full_page">

  </div>
</div>

{% endblock %}