{% extends 'new_base.html' %}

{% block content %}

<div class = "row">
  <div class = "col-sm-12 col-xs-12">
    <section class = "panel">
      <div class = "panel-body">
        <div class = "row">
          <div class = "col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h1 style="text-align:center" class = "round_header"></h1>
          </div>
        </div>
        <div class = "row">
          <div class = "col-xs-5 col-sm-5 col-md-5 pull-left" style="text-align:center">
            <span class = "text-muted" >AFF</span>
            <h2 class = "aff_team_code" style = "color: #AB070F;"></h2>
          </div>
          <div class = "col-xs-2 col-sm-2 col-md-2" style="text-align:center">
            <span class = "text-muted" >vs.</span>
          </div>
          <div class = "col-xs-5 col-sm-5 col-md-5 pull-right" style="text-align:center">
            <span class = "text-muted" >NEG</span>
            <h2 class = "neg_team_code" style = "color: #AB070F;"></h2>
          </div> 
        </div>
      </div>
    </section>
  </div>
</div>

<div class = "row">
  <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <section class = "panel">
      <div class = "panel-body" style="text-align:center">
        {% if round_type == 'elim_round' %}
        <a class = "judge-link-1 col-md-4"> 
          <h4 class = "judge_name-1"></h4>
        </a>
        <a class = "judge-link-2 col-md-4"> 
          <h4 class = "judge_name-2"></h4>
        </a>
        <a class = "judge-link-3 col-md-4"> 
          <h4 class = "judge_name-3"></h4>
        </a>
        {% else %}
        <a class = "judge-link col-md-12"> 
          <h4 class = "judge_name"></h4>
        </a>
        {% endif %}
      </div>
    </section>
  </div>
</div>

<div class = "row">
  <div class = "col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <section class = "panel">
      <div class = "panel-body aff-panel">
      </div>
    </section>
  </div>
  <div class = "col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <section class = "panel">
      <div class = "panel-body neg-panel">
      </div>
    </section>
  </div>
</div>

<div class = "row">
  <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <section class = "panel">
      <div class = "panel-body summary_pannel">
        <table class = "table  table-hover general-table">
          <thead>
            <tr>
              <th>Round Progression</th>
              <th>Argument Stats</th>
            </tr>
          </thead>
          <tbody class = "round_summary_table">
            <tr class = "one_ac_row">
              <td class = "arg-names one_ac_name">
                <div class = "arg-title">1AC</div>
              </td>
              <td class = "one_ac_stats">
              </td>
            </tr>
            <tr class = "one_nc_row">
              <td class = "arg-names one_nc_name">
                <div class = "arg-title">1NC</div>
              </td>
              <td class = "one_nc_stats">
              </td>
            </tr>
            <tr class = "block_row">
              <td class = "arg-names block_name">
                <div class = "arg-title">The Block</div>
              </td>
              <td class = "block_stats">
              </td>
            </tr>
            <tr class = "two_nr_row">
              <td class = "arg-names two_nr_name">
                <div class = "arg-title">2NR</div>
              </td>
              <td class = "two_nr_stats">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>


<div class="round_hidden" data-round-id="{{ round_id }}" data-round-type = "{{ round_type }}"></div>

{% load staticfiles %}
<script src="{% static 'js/round.js' %}"></script>

{% endblock %}