
<!DOCTYPE html>
<html lang="en">
<html class="no-js">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>DB8-Spec</title>
    <!-- fix this, logo on tab
    <link rel="shortcut icon" href="{% static 'images/crown.png' %}">
    -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300,900' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/splash.css' %}" rel="stylesheet">
</head>

<body>
	<img class = "logo" src= "{% static 'images/logo.png' %}">
	<a href="/home">
		<div class = "main">Enter Our Site!</div>
	</a>

</body>


</html>