{% extends 'new_base.html' %}

{% load staticfiles %}

{% block content %}
<div class = "row">
  <div class = "col-sm-12 col-xs-12 col-md-12 col-lg-12">
      <div class = "panel">
        <div class = "panel-body">
          <div href="" class="btn tourn-btn btn-dashboard btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2" tournament-page= "Dashboard" id="hellohi">Dashboard</div>
          <div href="" class="btn tourn-btn btn-main btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2" tournament-page= "Prelims">Prelims</div>
          <div href="" class="btn tourn-btn btn-entries btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2" tournament-page= "Entries">Entries</div>
          <div href="" class="btn tourn-btn btn-bracket btn-control col-xs-6 col-sm-3 col-md-2 col-lg-2" tournament-page= "Elims">Elims</div>
          {% block search_box %}
          {% endblock %}
        </div>
      </div>
  </div>
</div>

{% block tourney_content %}
{% endblock%}

{% endblock %}