
.entry_row:hover {
	cursor: pointer;
}

.team-code {
	cursor: pointer;
}

.mainpage-round {
	cursor: pointer;
}

.team_tourn_round {
	cursor: pointer;
}

.about-btn:hover {
	font-weight: 900;
	color: #AB070F;
}

.bracket { 
	height:85%;
	border-width:10px;
	border-color:#000000;
	margin:0px;
	overflow:scroll;
}

.bracket_box { 
}

.col { 
	height:1050px;
	width:175px;
	border-style:solid; 
	border-width:0px;
	border-color:#FF00FF;
	float:left;
}

.bracket_text { 
	text-align:center;
	bottom:0px;
	left:65px;
	position:absolute;
}

.doubles { 
	height:32px; 
	border-bottom-style:solid;
	border-width:1px;
	border-color:black;
/* 
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #000000;
*/ 
	position:relative;
}


.octos { 
	height:64px; 
	border-bottom-style:solid;
	border-width:1px;
	border-color:black;
	position:relative;
}


.quarters { 
	height:128px; 
	border-bottom-style:solid;
	border-width:1px;
	border-color:black; 
	position:relative;
}

.semifinals { 
	height:256px; 
	border-bottom-style:solid;
	border-width:1px;
	border-color:black; 
	position:relative;
}


.finals { 
	height:512px; 
	border-bottom-style:solid;
	border-width:1px;
	border-color:black; 
	position:relative;
}

.top_elim_round { 
	border-bottom-style:solid;
	border-width:1px;
	border-color:black; 
	position:relative;
}

.admin_round_row:hover {
	cursor: pointer;
}

.admin_round_row:hover > .bg-success {
	background-color: #C2FF85;
}

.admin_round_row:hover > .bg-danger {
	background-color: #FF7A7A;
}

.aff-side-admin:hover {
	background-color: #DFF0D8;
	cursor: pointer;
}

.neg-side-admin:hover {
	background-color: #DFF0D8;
	cursor: pointer;
}
