

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 300px;
}

.container {
	display: none;
}

#container-home {
	display: ;
}
