

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 300px;
}

.container {
	display: none;
}

.subsidebar {
	margin-left: 20px;
	display: none;
}

#container-home {
	display: ;
}

#entry_section {
	width: 20%;
	height: 400px;
}

.entry_table {
	overflow: auto;
	background-color: white;
	border-radius: 10px;
	height: 400px;
	width: 100%;
}

.main{
	background-color: #F5F5F5;
}

.html {
	background-color: #F5F5F5;
}

.logo {
	width: 200px;
	padding: 5px;
}

.tournament {
	color: #C41117;
}

.tourn_section_title {
	color: #F39000;
	text-align: center;
	background-color: #C41117;
	font-size: 200%;
}